* {
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > header {
    background-color: blanchedalmond;
    padding: 16px 0px;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: rgb(44, 133, 211);
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles  article img {
  /*  height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgb(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: rgb(0, 255, 0, 0.8);
}

#economy {
    background-color: burlywood;
}

#economy .articles article a {
    background-color: darkgoldenrod;
}

#entertainment {
    background-color: rgb(245, 167, 206);
}

#entertainment .articles article a {
    background-color: rgba(255, 0, 157, 0.959);
}

#technology {
    background-color: rgb(142, 176, 240);
}

#technology .articles article a {
    background-color: rgb(18, 14, 221);
}